{% extends "base_app.html" %}
{% load static %}

{% block app_extra_head %}
<link rel="stylesheet" href="{% static 'finanzas/css/finanzas.css' %}">
{% endblock %}

{% block avi_panel %}
<div class="avi-overlay" id="aviOverlay" onclick="closeAvi()"></div>
<button class="fab-avi" onclick="openAvi()"><i class="bi bi-robot"></i></button>
{% include "finanzas/_avi_panel.html" %}
{% endblock %}

{% block app_content %}
<div class="state active">
  <div class="fin-content">
    {% if activo != "inicio" %}{% include "finanzas/_subnav.html" %}{% endif %}
    {% block fin_content %}{% endblock %}
  </div>
</div>
{% endblock %}
