{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/app.css' %}">
{% block app_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
<div class="app-shell">
  {% block avi_panel %}{% endblock %}
  <div class="app-right-col">
    {% include "partials/navbar.html" %}
    <div class="app-main">
      {% block app_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/app.js' %}"></script>
{% block app_extra_scripts %}{% endblock %}
{% endblock %}
